.footer-section {
  .footer-links-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;

    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
    }
  }

  .copyright-container {
    text-align: left;
    padding: 1rem;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-section .footer-links-wrapper,
  .copyright-container {
    a {
      font-size: 18px;
    }
  }
}
