.footer-section {
  .footer-links-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
      color: white;
      text-decoration: none;
      padding: 1rem 3rem;
    }
  }
}
