.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 200px;
  background-color: $primary;
  
  .footer-links-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;

    .buy-me-a-coffee-link {
      border-bottom: 1px solid #fd0;
    }

    a {
      color: $tertiary;
      text-decoration: none;
      padding: 1rem;
    }
  }

  .copyright-container {
    text-align: left;
    padding: 1rem;
    color: $tertiary;

    a {
      color: $tertiary;
      text-decoration: none;
    }
  }

  .contact-footer {
    font-size: 58px;

    a {
      text-decoration: none;
      color: $tertiary;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-section .footer-links-wrapper,
  .copyright-container {
    a {
      font-size: 18px;
    }
  }
}
