@import "../animations";

.intro-section {
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .intro {
        width: 50%;
    }

    .intro-left {
        text-align: left;
        color: $white;

        .hello {
            margin: 50px 0;
            font-size: 86px;
            text-transform: uppercase;
            //letter-spacing: 30px;
            letter-spacing: 20px;
            font-weight: 500;

            text-shadow: -3px 0 rgb(255, 0, 255);
            clip-path: rect(0, 900px, 0, 0);
            //animation: noise-animation 0.2s infinite linear alternate-reverse;
        }

        .intro-description {
            font-size: 26px;
        }

        .technologies {
            margin-top: 50px;

            h3 {
                margin: 10px 0;
            }
        }
    }

    .intro-right {
        img {
            width: 500px;
        }
    }

    .intro-left .hello:after {
        //content: attr(data-text);
        text-shadow: 5px 0 rgb(0, 17, 255);
        overflow: hidden;
        clip-path: rect(0, 0, 0, 0);
        //animation: noise-animation-1 0.2s infinite linear alternate-reverse;

        font-size: 124px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 30px;
        font-weight: 500;
        position: absolute;
        left: 18px;
    }

    .intro-left .hello:before {
        //content: attr(data-text);
        text-shadow: 5px 0 rgb(199, 70, 70);
        overflow: hidden;
        clip-path: rect(0, 900px, 0, 0);
        //animation: noise-animation-2 0.8s infinite linear alternate-reverse,
        //enlargement 0.5s infinite linear alternate-reverse;

        font-size: 124px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 30px;
        font-weight: 500;
        position: absolute;
        left: 20px;
    }

    .main-section-container {
        z-index: -1;
        color: white;
        font-size: 40px;

        display: flex;
        align-self: flex-start;
        transform: translateY(150%);
        margin-left: 3rem;

        p {
            text-align: left;

            span:first-of-type {
                color: $backgroundColor;
                -webkit-text-stroke-color: white;
                -webkit-text-stroke-width: 1px;
            }
        }
    }
}

