.posts-section {

  h2 {
    margin: 3rem 0;
    text-align: left;

    span {
      background: -webkit-linear-gradient(transparent 18px, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(transparent 18px, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }

  .posts-wrapper {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .post {
      width: 200px;
      height: 200px;
      border: 1px solid white;
    }
  }
}
