.repeating-words-container {
    width: 50px;
    position: fixed;
    top: 0;
    z-index: 0;
    /* animation: moveInfinitely 30s linear infinite; */
    cursor: default;
    text-transform: uppercase;

    p {
        writing-mode: vertical-lr;
        text-orientation: upright;
        white-space: nowrap;
        position: relative;
    }

}

.repeating-words-container:hover {
    animation-play-state: paused;
}

@keyframes moveInfinitely {
    0% { 
        top: 0;
    }
    100% {
        top: -100%;
    }
}