.repeating-words-container {
    width: 50px;
    position: fixed;
    top: 0;
    left: 5px;
    z-index: 0;
    /* animation: moveInfinitely 30s linear infinite; */
    cursor: default;
    font-size: 14px;
    text-transform: uppercase;

    p {
        writing-mode: vertical-lr;
        text-orientation: upright;
        white-space: nowrap;
        position: relative;
    }

}

.repeating-words-container:hover {
    animation-play-state: paused;
}

@media only screen and (min-width: 992px) {
    .repeating-words-container {
        font-size: 16px;
    }
}
