@import './variables.scss';

.my-world-container {
    z-index: -1;
    color: white;
    position: relative;
    top: 40rem;
    min-height: 100vh;
    margin-bottom: 100px;
    .welcome-to-my-world {
        text-align: center;
        position: relative;
        left: 3em;
        font-size: 5em;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .facts {
        text-align: left;
        padding-left: 3rem;
        padding-top: 3rem;
        p {
            padding: 2rem 0 0 0;
            font-size: 3em;
        }
        p:first-of-type {
            position: relative;
            top: 0;
        }
    }
    span {
        color: $body-background-color;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }
}