@import './variables.scss';

.my-world-container {
    z-index: -1;
    color: white;
    position: relative;
    top: 30rem;
    min-height: 100vh;
    margin-bottom: 100px;
    .welcome-to-my-world {
        text-align: center;
        position: relative;
        left: 3em;
        font-size: 5em;
        text-transform: uppercase;
        white-space: nowrap;

        span {
            position: relative;
        }

        span:after {
            overflow: hidden;
            content: attr(data-text);
            text-shadow: 2px 0 rgb(198, 8, 236);
            position: absolute;
            right: 1px;
            animation: noise-animation 0.5s infinite linear alternate-reverse;
        }

        span:before {
            overflow: hidden;
            content: attr(data-text);
            text-shadow: 2px 0 rgb(126, 8, 236);
            position: absolute;
            left: 1px;
            animation: noise-animation-1 0.5s infinite linear alternate-reverse;
        }
    }

    .facts {
        text-align: left;
        padding-left: 3rem;
        padding-top: 3rem;
        p {
            padding: 0 0 0 0;
            font-size: 3em;
        }
        p:first-of-type {
            position: relative;
            top: 0;
        }
        .tirana {
           padding: 50px 0 50px 0;
        }
    }
    /* .tirana.with-background-image:before {
        position: absolute;
        transform: translate(-40%, -40%);
        content:"";
        width: 30%;
        height:30%;
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
    } */
    span {
        color: $body-background-color;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }

    .displacement {
        width: calc(70vw / 2);
        height: calc(60vh / 2);
        position: absolute;
        top: 50%;
        left: 30%;
        visibility: hidden;

        background-color: red; 
    }

    .displacement-active {
        visibility: visible;
    }
}