@media screen and (max-width: 480px) {
    .bar1, .bar2, .bar3 {
        height: 4px !important;
    }

    .burger-lines {
        right: 7% !important;
    }

    .intro-container {
        background: none; 
    }

    .paragraph-container p {
        transform: translateX(-50%);
    }
}