@import url('https://fonts.googleapis.com/css?family=Lexend+Mega&display=swap');

$body-background-color: #1E1E1E;

$main-font: 'Lexend Mega', sans-serif;

$nav-background-img: url('../assets/statue-glitch.png');