.tags-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  .tag {
    color: $white;
    cursor: pointer;
    padding: 5px;
    border: 1px solid $white;
    border-radius: 6px;

    &:hover {
      background-color: #323131;
    }
  }

  .active {
    background-color: $white;
    color: $black;
  }
}
