.posts-section {
  h2 {
    span {
      // @include gradientBackground(transparent 18px, #3b8d99, #aa4b6b);
    }
  }

  .posts-wrapper {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
      text-decoration: none;

      .post {
        border: 1px solid $white;
        background-color: $white;
        border-radius: 20px;

        .content-wrapper p{
            color: $primary;
        }
      }
    }
  }
}
