.post {
  min-width: 250px;
  max-width: 350px;
  min-height: 200px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  border-radius: 6px;
  text-align: left;

  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);

  &:hover {
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.1);
  }

  .content-wrapper {
    padding: 10px;
    margin-left: 10px;

    p {
      color: $white;
      margin: 10px 0;

      &.title {
        font-weight: 700;
      }
    }
  }

  img {
    max-height: 300px;
    width: 90%;
    border-radius: 6px;
    object-fit: cover;
    margin-top: 10px;
  }
}

.date {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .post {
    max-width: 650px;
    height: 250px;
    flex-direction: row;
    justify-content: space-evenly;

    .content-wrapper {
      width: 50%;
    }

    img {
      height: 90%;
      width: 40%;
      margin-top: 0;
    }
  }
}
